{% extends 'base.html.twig' %}

{% block header_title %}
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">ToDo List App</h1>
            <p class="lead text-muted">L'application vous permettant de gérer l'ensemble de vos tâches sans effort !</p>
            <div class="task-actions">
                <a href="{{ path('task_create') }}" class="btn btn-success">Créer une nouvelle tâche</a>
                <a href="{{ path('task_list') }}" class="btn btn-primary">Consulter la liste des tâches à effectuer</a>
            </div>
            <img class="homepage-picture" src="{{ asset('img/woman-showing-checklist.jpg') }}"/>
        </div>
    </section>
{% endblock %}

{% block header_img %}{% endblock %}

{% block body %}
{% endblock %}
